* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #ffcd11;
  --color-secondary: #000000;
  --color-white: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom right, #0000006c, #000000a4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 500px;
  z-index: 1111111;
  height: 100%;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out all 0.3s;
}

.sidebar.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.sidebarlinks {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarlink {
  color: var(--color-white);
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 1rem;
}

.close-icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}

header {
  background-color: var(--color-secondary);
  padding: 2rem 4rem;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.menubar {
  cursor: pointer;
}

.section {
  padding: 4rem 4rem;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.logo {
  font-size: 2.2rem;
  color: var(--color-primary);
  font-weight: 600;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero-text h1 {
  font-size: 6rem;
  color: var(--color-primary);
}
.swiper {
  width: 100%;
  height: 50rem;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.services-section .container {
  display: grid;
  gap: 4rem;
}
.service {
  border-radius: 10px;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.service:hover {
  transform: scale(1.03);
}

.documents {
  display: grid;
  gap: 1rem;
}

.documents-list {
  display: grid;
  gap: 0.5rem;
  margin-left: 2rem;
}

.contact-section .container {
  display: grid;
  gap: 4rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-decoration: none;
}

.contact-icon,
.menubar {
  display: flex;
  width: 3rem;
  height: 3rem;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  border: 1px solid var(--color-secondary);
  border-radius: 20px;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2.2rem;
  padding: 0.5rem 2rem;
  width: fit-content;
}

.social-contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact-content {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.related-links {
  display: flex;
  gap: 1rem;
}

.related-link {
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

.related-link img {
  width: 100%;
  object-fit: cover;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials-section .container {
  display: grid;
  gap: 4rem;
}

.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.testimonial-card {
  display: grid;
  gap: 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}

.footer {
  background-color: var(--color-primary);
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  color: var(--color-secondary);
}

.footer .contact-link {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-section .container {
  display: grid;
  gap: 4rem;
}

.about-content {
  display: grid;
  gap: 2rem;
}

.about-text {
  display: grid;
  gap: 1rem;
}

.contact-social a {
  display: flex;
  width: 3rem;
  height: 3rem;
}

.contact-social {
  display: flex;
  gap: 1.5rem;
}

.footer-links {
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  html {
    font-size: 50%;
  }

  .section,
  header {
    padding: 2rem;
  }

  .services,
  .testimonials-cards {
    grid-template-columns: 1fr;
  }

  .contact-content {
    flex-direction: column;
  }

  .footer .container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 2rem;
  }
}
